.AddCommentForm {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.input {
  flex-grow: 1;
}
