.popup {
  position: relative;
}

.trigger {
  background: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.active {
  background: var(--primary-color);
  color: var(--inverted-primary-color);
}

.disabled {
  opacity: 0.6;
}

.menuBottomLeft {
  top: 100%;
  right: 0;
}

.menuBottomRight {
  top: 100%;
  left: 0;
}

.menuTopRight {
  bottom: 100%;
  left: 0;
}

.menuTopLeft {
  bottom: 100%;
  right: 0;
}
