.app_dark {
  --bg-color: rgb(0 0 0 / 92%);
  --inverted-bg-color: white;
  --primary-color: white;
  --secondary-color: rgb(255 255 255 / 90%);
  --inverted-primary-color: #0000da;
  --inverted-color: rgb(0 0 0 / 80%);
  --skeleton-color: rgb(128 128 128 / 60%);
  --skeleton-shadow: gray;
  --code-bg: rgb(128 128 128 / 60%);
}
