:root {
  --bg-color: white;
  --inverted-bg-color: rgb(0 0 0 / 95%);
  --primary-color: #003cff;
  --secondary-color: rgb(0 0 0 / 80%);
  --inverted-primary-color: white;
  --inverted-secondary-color: rgb(255 255 255 / 90%);
  --skeleton-color: rgb(128 128 128 / 60%);
  --skeleton-shadow: rgb(0 0 0 / 60%);
  --code-bg: rgb(128 128 128 / 15%);
  --card-bg: rgb(128 128 128 / 15%);
}
