:root {
  --bg-color: white;
  --inverted-bg-color: rgb(0 0 0 / 95%);
  --primary-color: #003cff;
  --secondary-color: rgb(0 0 0 / 80%);
  --inverted-primary-color: white;
  --inverted-secondary-color: rgb(255 255 255 / 90%);
}
