.app_third_theme {
  --bg-color: #01a2f8;
  --inverted-bg-color: #f4f8fb;
  --primary-color: #f4f8fb;
  --secondary-color: #01d0a0;
  --inverted-primary-color: #01a2f8;
  --inverted-secondary-color: #01d0a0;
}
