.AppListBox {
  position: relative;
}

.trigger {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.optionsList {
  background: var(--card-bg);
  position: absolute;
  z-index: 10000;
  border-radius: 8px;
  box-shadow: 4px 4px 16px var(--inverted-bg-color);
}

.optionItem {
  padding: 10px 20px;
}

.checked {
  background: var(--inverted-primary-color);
  border-radius: 8px;
}

.active {
  border-radius: 8px;
  background: var(--inverted-primary-color);
}

.disabled {
  opacity: 0.6;
}

.optionBottomLeft {
  top: 100%;
  right: 0;
}

.optionBottomRight {
  top: 100%;
  left: 0;
}

.optionTopRight {
  bottom: 100%;
  left: 0;
}

.optionTopLeft {
  bottom: 100%;
  right: 0;
}
