.AppLink {
  color: var(--primary-color);

  &:hover {
    opacity: 0.7;
    transition-duration: 0.4s;
  }
}

.AppLink:not(:hover) {
  transition-duration: 0.4s;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}
